* {
    text-align: center;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
h1{
    background-color: darkred;
    color: white;
}
p {
    color: wheat;
    background-color: brown;
    font-weight: bold;
}
ul {
    color: gold;
    background-color: lightpink;
    list-style-position: inside;
}