* {
    text-align: center;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color: lightpink;
}
h1{
    background-color: darkred;
    color: white;
}
p, em {
    color: wheat;
    background-color: brown;
    font-weight: bold;
}
ul, ol {
    color: darkred;
    background-color: lightpink;
    list-style-position: inside;
}